<footer class="footer">
  <small>
    zwf website and application</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
    </ul>
  </nav>
</footer>